<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>well2</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/well23.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/7664657868.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- 헤더 부분 -->
    <header id="header">
        <header class="header-inner">
            <nav class="nav">
                <div><a href="#">BRAND</a></div>
                <div><a href="#">PROGRAM</a></div>
                <div><a href="#">WELL MATE</a></div>
                <div><a href="#">WELLNESS ITEM</a></div>
                <div><a href="#">CONTACT</a></div>
            </nav>
            <div class="logo"><img src="/img/logo.png" alt=""></div>
            <nav class="login">
                <p>로그인</p>
                <p>마이페이지</p>
                <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
            </nav>
        </header>
    </header>
    <!-- body -->
    <section>
        <div>
            <div class="container">
                <img src="/img/mate2-1.png" alt="">
            </div>
            <div id="bb">
                <div class="block"></div>
                <div class="link">
                    <div class="link-i">
                        <button class="ic-btn">
                            <i class="fa-solid fa-print"></i>
                        </button>
                    </div>
                    <div class="link-i">
                        <button class="ic-btn">
                            <i class="fa-solid fa-share-nodes"></i>
                        </button>
                    </div>
                </div>
                <div class="next-box-a">
                    <a href="" class="next">
                        <i class="fa-solid fa-chevron-up"></i>
                        <span>웰 메이트 '고은혜'</span>
                    </a>
                </div>
                <div class="next-box-b">
                    <a href="" class="next">
                        <i class="fa-solid fa-chevron-down"></i>
                        <span>웰 메이트 '박신영'</span>
                    </a>
                </div>
                <div>
                    <div class="mok">
                        <a class="mok-b">목록</a>
                    </div>
                </div>
            </div>
            </div>
        <!-- footer -->
        <footer id="footer">
            <img src="/img/foot.png" alt="">
        </footer>
    </section>

</body>
</html>