#bb {
    /* border: 1px solid; */
    margin: auto;
    width: 850px;
    height: 350px;
}

.container img {
    width: 100%;
}

.block {
    box-sizing: border-box;
    border: 0;
    margin: auto;
    justify-content: center;
    align-items: center;

    width: 850px;
    height: 100px;
}

.link {
    border: 0px solid;
    margin-left: auto;
    width: 100px;
    height: 75px;
}

.link-i {
    float: right;
}

.ic-btn {
    border: 0px solid;
    margin: 0px 0px 0px 25px;
}


.next-box-a {
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin: auto;
    line-height: 35px;
    width: 850px;
    height: 40px;
}

.next-box-b {
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    margin: auto;
    line-height: 35px;
    width: 850px;
    height: 40px;
}

.next span {
    margin: 0px 0px 0px 10px;
}

.mok {
    border: 1px solid #222222;
    border-radius: 20px 20px 20px 20px;
    margin: 15px 0px 0px 0px;
    padding: 4px 15px 6px 15px;
    text-align: center;
    line-height: 18px;
    width: 30px;
    height: 20px;
}

.mok-b {
    justify-content: center;
    align-items: center;
}